@import url("https://fonts.googleapis.com/css?family=Noto+Sans:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic");


body {
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;

    background: #c6ffdd;
    background: linear-gradient(to right, #f7797d, #fbd786, #c6ffdd);

    display: flex;
    justify-content: center;
    align-items: center;
}

.quiz {
    background: #fff;
    box-shadow: 5px;
    border-radius: 5px;
    width: 570px;
}


.quiz__header {
    padding: 20px 100px;
    text-align: center;
}
@media (max-width: 517px) {
    .quiz__header {
        padding: 20px 50px; 
    }
}
@media (max-width: 301px) {
    .quiz__header {
        padding: 20px 30px; 
    }
}
.title {
    font-weight: 700;
    font-size: 18px;
    padding-bottom: 20px;
}
.quiz__list {
    padding-left: 20px;
    padding-bottom: 35px;
}
.answer {
}
li:not(:last-child) {
    padding-bottom: 20px;
}
label > span {
    font-size: 18px;
}
.quiz__submit {
    padding: 15px 0 15px 0;
    min-width: 100%;
    background: #c22970;
    border-radius: 5px;
    color: #fff;
}
.quiz__submit:hover {
    background: green;
    transition: 0.3s ease 0s;
    cursor: pointer;
}
.submit {

}